html{
    font-family: 'Oxygen', sans-serif;


}
body{
    background-image: url("images/white-waves.png")
}
header{
    background-color: coral;
    border-bottom:2px solid lightgrey;
}

.navbar-collapse{
    text-align: center;
}